.ref {
   text-decoration-color: aliceblue;
   margin-top: 50px;
   text-align: center;
   margin-top: 2px;
}

.etiqueta-cinco {
   color: rgb(40, 43, 43);
   text-decoration: none;
   font-family: arial, sans-serif;
}

.etiqueta-seis {
   color: rgb(24, 22, 165);
   text-decoration: none;
   font-family: arial, sans-serif;
}
